<launch>
  <arg name="bagrecord" default = "true"/>
  <include
    file = "$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(find turtlebot_object_avoidance)/launch/turtleBot_simul.world"/>

  </include>
  <node pkg="turtlebot_object_avoidance" 
	type="turtlebot_object_avoidance" 
	name="Navigation"
	output = "screen">
  </node>
  <node pkg="rosbag" 
	type="record" 
	name="turtlebot_object_avoidance" 
	args="record -o /$(find turtlebot_object_avoidance)/rosbag/rosbag.bag -a -x /camera/(.*) --duration=18" 
	if="$(arg bagrecord)">
  </node>

</launch>
